@import "main.scss";
#content{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
   @include flex(1);
    .three-content{ 
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        @include flex(1);
        padding: 0;
        .picture{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .desc{
            padding: 30px 15px;
            p{
                color: rgb(99, 102, 107);
                font-size: 14px;
                font-weight: bold;
            }
        }
        button{
            border: 0;
            background: rgb(255, 57, 57);
            color: #fff;
            display: block;
            margin: 0 auto;
            padding: 10px 30px;
            border-radius: 8px;
        }
    }
}